@import url(https://fonts.googleapis.com/css?family=Raleway:400,,800,900);
body {
  font-family: 'Raleway', sans-serif;
  background-image: url(../images/water_tile.jpg);
  background-repeat: repeat;
  background-color: darkblue;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

.hide {
    display: none;
}

.log {
    position: fixed;
    right: 0;
    top:0;
    z-index: 10000;
    background-color: #eaeaea;
}

.btn-right {
  float: right;
  margin: 1px;
}

.btn-control-maximize {
  position: fixed;
  float: right;
  right: 10px;
  top: 30px;
  margin: 1px;
  width: 48px;
  height: 48px;
  border:none;
  z-index:999998;
  background: url(../images/control_center.png) no-repeat;
  background-size: 48px 48px;
}
.btn-plus {
  background: url(../images/chat_icon.png) no-repeat;
  background-size: 48px 48px;
}
.btn-msg {
  background: url(../images/chat_icon_msg.png) no-repeat !important;
  background-size: 48px 48px !important;
}

.btn-hide {
  background: none !important;
  background-size: 0px 0px !important;
}

.start, .turn, .popup {
    position:fixed;
    float:left;
    top:0px;
    left:0px;
    width:100%;
    height: 100%;
    background:rgba(0, 0, 0,0.4);
    display:block;
    z-index:999999;
}
.start_inner, .turn_inner, .popup_inner {
    position: relative;
    top: 20%;
    margin:auto;
    height:auto;
    width:720px !important;
    padding:15px;
    background-color:white;
    border:medium solid #000000;
    border-radius:25px;
    padding-bottom: 50px;
    max-height: 70%;
}
.popup_inner_large {
    top: 30px !important;
    width:85% !important;
    max-width:1000px !important;
}
.popup_inner_right {
    width:209px !important;
    top:25%;
    transform: none;
    border-radius: 0;
}
.popup_title_row {
    clear:both;
    height:50px;
    margin:10px;
}
.popup_inner_title {
    float:left;
    font-size:3em;
    font-weight:bold;
}
.popup_close {
    float:right;
}

.popup_inner .title, .popup_inner .subtitle {
    text-align: center;
}

.rules_inner {
  overflow-y: auto;
  overflow-x: hidden;
  margin-bottom: 1em;
  padding:10px;
}

.rules_inner h3,
.rules_inner h4 {
  margin-bottom: 3px;
}

.rules_inner p {
  margin-top: 0;
}

.start .title {
    position:relative;
    margin-left:20px;
    height:90px;
}
.start .subtitle{
  display: block;
  text-align: center;
  text-transform: uppercase;
  margin-bottom:20px;
}
.start .menu {
    text-align: center;
}
.start_subsection {
    width:100%;
    text-align: center;
}
.start .waiting {
  text-align: center;
}

.start_button {
    width:150px;
    height:100px;
    margin:3%;
    padding-top:15px;
}
.start_text {
    font-size:32px;
}

.start .player_row {
    clear:both;
    width:90%;
    height:30px;
    margin:3px;
}
.player_setup_box, .game_setup_box {
    margin:0 7%;
    border:thin solid green;
    border-radius: 15px;
    background-color:#eaeaea;
    height:150px;
    padding:10px;
    margin:20px 10px 10px 10px;
}
.game_setup_box {
    height:auto;
    margin:5px 10px 20px 10px;
}
.player_setup_row, .game_setup_row {
    height:40px;
    width:90%;
    margin-left:5%;
    text-align: center;
}
.player_title {
    clear:both;
    margin-left:10%;
    font-size:36px;
    font-weight:bold;
    padding:5px;
}
.game_title {
    clear:both;
    font-size:24px;
    padding:5px;
}
.game_title {
    clear:both;
    font-size:18px;
    font-weight:bold;
    padding:5px;
}

.game_list_box {
    clear:both;
    overflow:auto;
    padding:5px;
    background-color:silver;
}
.game_list_row {
    clear:both;
    padding:5px;
    height:23px;
}
.game_list_row:hover {
    background-color:#187DC0;
    cursor: pointer;
}
.game_list_row_title {
    float:left;
    width:33%;
    font-weight:bold;
    font-size:18px;
    overflow: hidden;
    height: 22px;
}
.game_list_row_spots {
    float:left;
    width:20%;
}
.game_list_row_players {
    float:left;
    width:33%;
    overflow: hidden;
    height: 22px;
}

.player_name_row, .game_name_row {
    width:100%;
    height:60px;
}
.player_name_cell, .game_name_cell {
    float:left;
    width:60%;
    margin-top:5px;
}
.game_name_cell {
    width:50%;
}
.player_start_cell, .game_start_cell {
    float:left;
    margin-left:15px;
}
.game_start_cell {
    margin-top:10px;
}
.player_input, .game_input {
    width:65%;
    margin-left:25%;
    height:40px;
    font-size:32px;
    background-color: #9DD67D;
    border:thin solid #444;
    padding:5px 10px;
}
.game_input {
    width:85%;
    margin-left:20px;
}
.player_button {
    width:150px; margin-top:10px; text-align:center;
}
.player_text {
    font-size:18px;
    padding-left:5px;
}
.player_error {
    height:40px;
    color:red;
    font-weight:bold;
    font-size:16px;
    width:80%;
    margin:10px 0 10px 10%;
    text-align: center;
}
.place_settlement{
    width: 200px;
}

.other_players {
    position:fixed;
    float: left;
    top:5px;
    left:5px;
    height:350px;
    width:110px;
    z-index:9998;
}
.other_player0_cell, .other_player1_cell, .other_player2_cell, .other_player3_cell {
    position:relative;
    width:90px;
    overflow:hidden;
    background-color: white;
    border: thin solid black;
    margin:2px;
}
.other_player0_cell:hover {
    background-color: #7168CA;
    cursor: pointer;
}
.other_player1_cell:hover {
    background-color: #AB0F12;
    cursor: pointer;
}
.other_player2_cell:hover {
    background-color: #0C1BC3;
    cursor: pointer;
}
.other_player3_cell:hover {
    background-color: #0A9D08;
    cursor: pointer;
}
.other_player_avatar {
    height: 50px;
    padding: 5px 0px 5px 15px;
    overflow:hidden;
}
.other_player0_status, .other_player1_status, .other_player2_status, .other_player3_status {
    position: absolute;
    left: 70px;
    top: 5px;
}
.other_player_name {
    text-align: center;
    font-size:14px;
}
.other_player_score {
    text-align: center;
    font-size:18px;
    font-weight: bold;
}

.other_players .player_red, .other_players .player_blue, .other_players .player_green, .other_players .player_purple {
    float:left;
    width: 90px;
    height: 90px;
    padding:5px;
}
.other_players .player_red {
    background-image: url(../images/other_player_red.png);
}
.other_players .player_blue {
    background-image: url(../images/other_player_blue.png);
}
.other_players .player_green {
    background-image: url(../images/other_player_green.png);
}
.other_players .player_purple {
    background-image: url(../images/other_player_purple.png);
    display:none;
}

.game_chat {
    position:fixed;
    float: right;
    display:inline-block;
    top:5%;
    right:18px;
    height:820px;
    width:235px;
    z-index:80000;
    border: thick inset black;
    transition: transform .4s;
    backface-visibility: hidden;
    transform-style: preserve3d;
}

.game_chat--back {
    transform: rotateY(180deg);
}

.game_chat_top_z {
    z-index: 999999;
}

.game_chat form {
  position: absolute;
  bottom: 0px;
  background-color: silver;
  height: 60px;
  padding: 6px;
  width: 223px;
}

.game_chat textarea {
  border: 1px solid #ccc;
  resize: none;
  width: 98%;
  height: 54px;
}

.game_chat .messages {
  padding: 4px;
  font-size: 14px;
  position: relative;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  height: 740px;
  overflow-y: auto;
  background-color: whitesmoke;
}

.game_chat .messages .chat_message {
  margin-bottom: 4px;
}

.game_chat .messages .chat_message_name {
  font-weight: bold;
}

.game_chat .messages .chat_message_name.chat_player0 {
  color: #7168CA;
}
.game_chat .messages .chat_message_name.chat_player1 {
  color: #AB0F12;
}
.game_chat .messages .chat_message_name.chat_player2 {
  color: #0C1BC3;
}
.game_chat .messages .chat_message_name.chat_player3 {
  color: #0A9D08;
}

.board {
    position:absolute;
    z-index:9;
    width: 888px;
    top: 33px !important;
    left: 33px !important;
    padding-right: 35% !important;
}
.board_row {
    clear:both;
    position:relative;
    left: 0px;
    top: -5px;
    height:124px;
    z-index:10;
}
.board .row {
    clear:both;
    position:relative;
    height:124px;
    z-index:102;
}
.board .top {
    height:96px !important;
}

.score {
    position:fixed;
    float: right;
    display:inline-block;
    top:5%;
    right:20px;
    height:auto;
    width:232px;
    z-index:90000;
    border: thick inset black;
    background-color: silver;
    backface-visibility: hidden;
    transform-style: preserve3d;
    transition: transform .4s;
}

.score--back {
    transform: rotateY(-180deg);
}

.score .row {
    clear:both;
    text-align:center;
    padding:3px;
    margin-bottom:5%;
}
.score .player {
    float:left;
    margin-top:5px;
    margin:0px 15px;
}
.score .playername {
    position: relative;
    float:left;
    margin-top:5%;
    font-size: 18px;
    overflow:hidden;
    white-space:nowrap;
    width:110px;
}
.score .playerbutton {
    margin-top: 5%;
    clear:both;
}

.score .dice_row {
    clear: both;
    margin-top:5%;
    height:50%;
    display:none;
}
.score .dice_window {
    float: left;
    padding:5px;
    margin-left:10px;
    width: 25px;
    height: 25px;
    overflow: hidden;
}
.score .dice2 {
    position: relative;
    left:-40px;
}
.score .dice3 {
    position: relative;
    left:-80px;
}
.score .dice4 {
    position: relative;
    left:-117px;
}
.score .dice5 {
    position: relative;
    left:-155px;
}
.score .dice6 {
    position: relative;
    left:-195px;
}
.score .robber_roll {
    position: relative;;
    float:left;
    margin-left:5px;
    margin-top:5px;
}


.button {
    margin:4px;
    width:150px;
}

.hex, .hex_water {
    position: relative;
    float:left;
    width:148px;
    height:172px;
    margin-top:-44.5px;
    margin-bottom:-3px;

}
.hex_half {
    margin-left:-74px;
}
.hex_last {
    margin-right:-74px;
}
.hex_water {
    background:none;
    z-index: -100;
}

.token {
    position:absolute;
    top:48px;
    left:43px;
	border-radius: 999em;
    width:70px;
    height:70px;
	margin: 0;
}
.number {
    position:relative;
    width:50px;
    height:45px;
    text-align:center;
    background-color:white;
    border-radius:30px;
    font-size:24px;
    font-weight:bold;
    padding:5px;
    padding-top:10px;
    opacity:0.8;
    border-style:solid;
    border-color:#e3e3e3;
}
.dots {
    position:relative;
    clear:both;
    font-size:18px;
    padding:0;
    margin:0;
    top:-10px;
}
.board .title {
    position:relative;
    top:0px;
    left:-3px;
    width:60px;
    text-align:center;
    background-color:white;
    padding:3px;
    font-size:11px;
    border-style:inset;
    border-color:#eaeaea;
}
.water {
   background-image:url(../images/hex_water.png);
}
.ore {
    background-image:url(../images/hex_ore.png);
}
.ore.hex_dim:hover, .ore.hex_highlight {
    background-image:url(../images/hex_ore_highlight.png);
    opacity: 1.0;
}
.grain {
    background-image:url(../images/hex_grain.png);
}
.grain.hex_dim:hover, .grain.hex_highlight {
    background-image:url(../images/hex_grain_highlight.png);
    opacity: 1.0;
}
.sheep {
    background-image:url(../images/hex_sheep.png);
}
.sheep.hex_dim:hover, .sheep.hex_highlight {
    background-image:url(../images/hex_sheep_highlight.png);
    opacity: 1.0;
}
.lumber {
    background-image:url(../images/hex_lumber.png);
}
.lumber.hex_dim:hover, .lumber.hex_highlight {
    background-image:url(../images/hex_lumber_highlight.png);
    opacity: 1.0;
}
.brick {
    background-image:url(../images/hex_brick.png);
}
.brick.hex_dim:hover, .brick.hex_highlight {
    background-image:url(../images/hex_brick_highlight.png);
    opacity: 1.0;
}
.desert {
    background-image:url(../images/hex_desert.png);
}
.desert.hex_dim:hover, .desert.hex_highlight {
    background-image:url(../images/hex_desert_highlight.png);
    opacity: 1.0;
}

.sheep.hex_dim:hover, .ore.hex_dim:hover, .lumber.hex_dim:hover, .brick.hex_dim:hover, .grain.hex_dim:hover, .desert.hex_dim:hover {
    cursor: pointer;
}

.hex_dim {
    opacity: 0.6;
}

.robber {
    position:absolute;
    background-image:url(../images/robber.png);
    height:70px;
    width:30px;
    display:none;
    z-index:9995;
}
.robber_roll {
    position: relative;
    float:left;
    margin-left:45px;
    margin-top:18px;
}

.harbor {
    z-index: 10;
}
.bottom_left .harbor {
    position: relative;
    float:left;
    top:-50px;
    left: -7px;
}
.bottom_right .harbor {
    position: relative;
    float:left;
    top:-55px;
    left: 8px;
}
.left .harbor {
    position: relative;
    float:left;
    top:-65px;
    left: -13px;
}
.right .harbor {
    position: relative;
    float:left;
    top: -65px;
    left: 14px;
    z-index:9995;
}
.top_right .harbor {
    position: relative;
    float:left;
    top:-80px;
    left: 7px;
}
.top_left .harbor {
    position: relative;
    float:left;
    top:-85px;
    left: -7px;
}

.ship {
    z-index:9990;
}

.bottom_right .ship {
    position:relative;
    left:100px;
    top:155px;
}
.bottom_left .ship {
    position:relative;
    left:-15px;
    top:155px;
}
.left .ship {
    position:relative;
    left:-70px;
    top:55px;
}
.right .ship {
    position:relative;
    left:160px;
    top:55px;
}
.top_left .ship {
    position:relative;
    left:-10px;
    top:-45px;
}
.top_right .ship {
    position:relative;
    left:100px;
    top:-45px;
}

.node {
    display:none;
    position:absolute;
    opacity:0.8;
    z-index:9997;
}
.node.settlement, node.city {
    opacity: 1 !important;
}
.node.settlement, .node.buildspot {
    height:42px;
    width:50px;
}
.node.city {
    height:50px;
    width:50px;
}
.node.disabled, road.disabled, .settlement.disabled, .city.disabled {
    display:none;
}
.node.buildspot {
    background-image:url(../images/settlement_ghost_small.png);
    z-index: 9996 !important;
}
.node.expand {
    background-image:url(../images/city_ghost_small.png) !important;
    height: 50px !important;
}

.city:hover, .road:hover, .settlement:hover {
    cursor: move;
}

.node.settlement.locked, .node.city.locked {
    display:block;
}
.settlement, .settlement_locked {
    width:50px;
    height:42px;
}
.city, .city.locked {
    width:50px;
    height:50px;
    opacity: 1;
}

.node.settlement.purple, .settlement.purple {
    background-image: url(../images/settlement_purple_small.png);
}
.node.settlement.red, .settlement.red {
    background-image: url(../images/settlement_red_small.png);
}
.node.settlement.green, .settlement.green {
    background-image: url(../images/settlement_green_small.png);
}
.node.settlement.blue, .settlement.blue {
    background-image: url(../images/settlement_blue_small.png);
}

.node.city.purple, .city.purple {
    background-image: url(../images/city_purple_small.png);
}
.node.city.red, .city.red {
    background-image: url(../images/city_red_small.png);
}
.node.city.green, .city.green {
    background-image: url(../images/city_green_small.png);
}
.node.city.blue, .city.blue {
    background-image: url(../images/city_blue_small.png);
}

.road {
    position:absolute;
    opacity:0.8;
    z-index:9996;
}
.road.roadspot {
    display:none;
}
.road.locked {
    display:block !important;
}
.score .road {
    float:left;
    position:relative;
    background-repeat:no-repeat;
    display:block !important;
}

.score .road, .score .road_locked {
    left:45px;
    width:65px;
    height:60px;
}

.angle30, .angle330 {
    width:65px;
    height:52px;
}
.angle90 {
    width:25px;
    height:60px;
}

.road.roadspot.angle30 {
    background-image: url(../images/road_ghost_topdown.png);
    z-index: 9995 !important;
}
.road.roadspot.angle90 {
    background-image: url(../images/road_ghost_vertical.png);
    z-index: 9995 !important;
}
.road.roadspot.angle330 {
    background-image: url(../images/road_ghost_bottomup.png);
    z-index: 9995 !important;
}

.road.purple.angle30 {
    background-image: url(../images/road_purple_topdown.png);
}
.road.purple.angle90 {
    background-image: url(../images/road_purple_vertical.png);
}
.road.purple.angle330 {
    background-image: url(../images/road_purple_bottomup.png);
}
.road.red.angle30 {
    background-image: url(../images/road_red_topdown.png);
}
.road.red.angle90 {
    background-image: url(../images/road_red_vertical.png);
}
.road.red.angle330 {
    background-image: url(../images/road_red_bottomup.png);
}
.road.green.angle30 {
    background-image: url(../images/road_green_topdown.png);
}
.road.green.angle90 {
    background-image: url(../images/road_green_vertical.png);
}
.road.green.angle330 {
    background-image: url(../images/road_green_bottomup.png);
}
.road.blue.angle30 {
    background-image: url(../images/road_blue_topdown.png);
}
.road.blue.angle90 {
    background-image: url(../images/road_blue_vertical.png);
}
.road.blue.angle330 {
    background-image: url(../images/road_blue_bottomup.png);
}

.vertical {
	width: 12px;
	height: 55px;
}
.topdown {
	width: 12px;
	height: 35px;
    transform: rotate(-60deg);
}
.bottomup {
	width: 12px;
	height: 35px;
    transform: rotate(60deg);
}

.score .cards {
    clear:both;
    height:162px;
    margin: 10px 15px;
}
.score .cardlist {
    height:100px;
    overflow:hidden;
}

.card.disabled {
    border-color: red;
    border-width: 1px !important;
    cursor: not-allowed;
}

.score .cards .buy {
    padding:5px;
}
.card1, .card2, .card3, .card4 {
    position:absolute;
    height:100px;
}
.card1 {
    left:10px;
}
.card2 {
    left:40px;
}
.card3 {
    left:70px;
}
.card4 {
    left:100px;
}

.score .resources, .score .bonuses {
    clear:both;
    margin: 10px 10px 5px 15px;
    height:auto;
}
.resources .lumber {
    background-image:url(../images/score_lumber.png);
    background-repeat:no-repeat;
}
.resources .ore {
    background-image:url(../images/score_ore.png);
    background-repeat:no-repeat;
}
.resources .grain {
    background-image:url(../images/score_grain.png);
    background-repeat:no-repeat;
}
.resources .brick {
    background-image:url(../images/score_brick.png);
    background-repeat:no-repeat;
}
.resources .sheep {
    background-image:url(../images/score_sheep.png);
    background-repeat:no-repeat;
}
.resources .trade {
    position:relative;
    top:-21px;
    background: white;
    text-align:center;
}

.bonuses .bigarmy {
    background-image:url(../images/score_army.png);
    background-repeat:no-repeat;
}
.bonuses .longroad {
    background-image:url(../images/score_longroad.png);
    background-repeat:no-repeat;
}
.bonuses .victory {
    background-image:url(../images/score_victory.png);
    background-repeat:no-repeat;
}


.box {
    display:inline-block;
    width:45%;
    height:42px;
    border:thin solid black;
    padding:15px 5px 0px 0px;
    background:white;
}
.brickcount, .sheepcount, .lumbercount, .orecount, .graincount, .armycount, .longroadcount, .victorycount {
    float:right;
    width:35%;
    text-align:right;
    font-size:32px;
    font-weight:bold;
}

.buildings {
    clear:both;
    margin: 10px 15px 0px 15px;
    height:auto;
}
.settlementbox, .citybox, .roadbox, .infobox {
    display:inline-block;
    width:42%;
    height:42px;
    border:thin solid black;
    padding:5px;
    background-color:white;
}
.settlementbox_disable, .citybox_disable, .roadbox_disable, .infobox_disable {
    position:absolute;
    width:102px;
    height:58px;
    opacity:0.7;
    background:silver;
    z-index:9998;
    display:none;
}
.infobox {
    position: relative;
    top:-8px;
}
.infobox:hover {
    cursor: pointer;
    background-color:#aaaaaa;
}
.settlementbox_disable {
    top:360px;
    left:15px;
}
.citybox_disable {
    top:360px;
    left:110px;
}
.roadbox_disable {
    top:415px;
    left:15px;
}

.settlement, .buildings .road {
    position:absolute;
    left:23%;
    z-index:9997;
}
.buildings .city {
    left:65%;
}
.city {
    position:absolute;
    z-index:9997;
}

.settlement:hover, .city:hover, .road:hover {
    cursor: move;
}

.dropped {
    z-index: 0;
    display:none;
}

.settlementcount, .roadcount {
    position:absolute;
    left:25px;
    text-align:left;
    font-size:32px;
    font-weight:bold;
}
.citycount {
    position:absolute;
    left:125px;
    text-align:left;
    font-size:32px;
    font-weight:bold;
}

/*  Turn box    */
.turn {
    position:fixed;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    background:rgba(0, 0, 0,0.6);
    display:block;
    z-index:9998;
}
.turn_inner {
    position: absolute;
    top: 100px;
    left: 50%;
    width:50%;
    height:650px;
    width:75%;
    padding:15px;
    max-width:600px;
    transform: translate(-50%, 0%);
    background-color:white;
    border:thin solid black;
    border-radius:25px;
}

.turn .title {
    text-align:center;
    font-size:32px;
    padding:10px;
}
.turn .resources {
    clear:both;
    width:95%;
    height:auto;
    overflow:hidden;
}
.turn .row {
    clear:both;
    height:100px;
    overflow:hidden;
    margin:10px;
}
.resources .avatar {
    float:left;
    width:20%;
}
.resources .cards {
    float:left;
    width:90%;
}
.cards .card, .failed_card .card {
    float:left;
    margin-right:-74px;
    border-radius:7px;
    border-style: solid;
    border-width: 1px;
}
.card.last {
    margin-right:-47px !important;
}

.turn_button {
    clear:both;
    margin:10px;
    text-align:center;
}

/*  Dice    */
.die.die1 .dot {
	box-shadow: 0 .2em 0 #FFF
}
.die.die2 .dot {
	background: transparent;
	box-shadow: -2.3em -2.3em 0 #345,
		     2.3em  2.3em 0 #345,
		    -2.3em -2.3em 0 #FFF,
		     2.3em  2.4em 0 #FFF
}
.die.die3 .dot {
	box-shadow: -2.3em -2.3em 0 #345,
		     2.3em  2.3em 0 #345,
		    -2.3em -2.3em 0 #FFF,
		     2.3em  2.4em 0 #FFF,
		         0   .2em 0 #FFF
}
.die.die4 .dot {
	background: transparent;
        box-shadow: -2.3em -2.3em 0 #345,
        	     2.3em  2.3em 0 #345,
        	    -2.3em  2.3em 0 #345,
        	     2.3em -2.3em 0 #345,
        	    -2.3em -2.3em 0 #FFF,
        	     2.3em  2.4em 0 #FFF,
        	    -2.3em  2.4em 0 #FFF,
        	     2.3em -2.3em 0 #FFF
}
.die.die5 .dot {
	box-shadow: -2.3em -2.3em 0 #345,
		     2.3em  2.3em 0 #345,
		    -2.3em  2.3em 0 #345,
		     2.3em -2.3em 0 #345,
		    -2.3em -2.2em 0 #FFF,
		     2.3em -2.2em 0 #FFF,
		     2.3em  2.4em 0 #FFF,
		    -2.3em  2.4em 0 #FFF,
		         0   .2em 0 #FFF
}
.die.die6 .dot {
	background: transparent;
	box-shadow: -2.3em -2.3em 0 #345,
		    -2.3em      0 0 #345,
		    -2.3em  2.3em 0 #345,
		     2.3em -2.3em 0 #345,
		     2.3em      0 0 #345,
		     2.3em  2.3em 0 #345,
		    -2.3em -2.1em 0 #FFF,
		    -2.3em   .2em 0 #FFF,
		    -2.3em  2.4em 0 #FFF,
		     2.3em  2.4em 0 #FFF,
		     2.3em   .2em 0 #FFF,
		     2.3em -2.1em 0 #FFF
}
.die {
	border-top: 1px solid #f1f1f1;
	width: 50px; height: 50px;
	border-radius: 10px;
	position: relative;
	margin: 10px;
	font-size: 6px;
	display: inline-block;
	box-shadow: 0px 5px 0 #CCC, 0 6px 3px #444, 0 10px 5px #999;
	background-image: linear-gradient(top, #fefefe, #f1f1f1 80%)
}
.dot {
	width: 20%;
	height: 20%;
	left: 50%;
	top: 50%;
	margin: -10%;
	background: #345;
	border-radius: 50%;
	display: block;
	position: absolute;
}


.popup_title {
    text-align: center;
    font-size:24px;
    font-weight: bold;
}
.popup_subtitle {
    text-align: center;
    font-size:18px;
}

.knight_row {
  text-align: center;
  font-weight: bold;
  margin: 1em 0;
}

.end_row {
    clear: both;
    margin:10px;
}
.end_row .player_row {
    clear: both;
    margin:5px;
    height:80px;
}
.end_row .player_icon {
    float: left;
    width: 75px;
    height: 75px;
    overflow: hidden;
}
.end_row .player_name {
    float: left;
    padding-top:10px;
    font-weight:bold;
    font-size:18px;
    width: 200px;
    overflow:hidden;
}
.end_row .player_score {
    font-size:14px;
    color:blue;
}

.player_score_details {
    float:left;
}
.player_score_detail {
    float:left;
    padding:5px 10px;
}
.player_detail .player_row {
    clear: both;
    width:95%;
}
.player_score_token {
    float:left;
}
.player_score_token.disabled, .player_score_detail.disabled, .build_give.disabled {
    opacity: 0.4;
}


.trade_title, .build_title {
    clear:both;
    margin-top:10px;
    font-size:24px;
    font-weight:bold;
    border-bottom:thin solid green;
}
.trade_row, .trade_review_row, .build_row {
    clear:both;
    margin:5px 10px;
    margin-bottom: auto;
    height:120px;
}
.trade_review_row, .year_review_row, .monopoly_review_row, .devcard_review_row {
    width:460px;
    height:140px;
    padding:10px;
    overflow: hidden;
    margin: auto;
    white-space: nowrap;
    border-top: thin solid green;
    border-bottom: thin solid green;
}
.trade_row .card_give, .trade_row .card_receive, .year_receive, .monopoly_receive, .devcard_receive, .trade_card_give, .trade_card_want, .build_give {
    text-align: center;
    float:left;
}
.card_give .unavailable, .card_receive .unavailable, .devcard_card .unavailable, .trade_card_give .unavailable, .trade_card_want .unavailable, .trade_card_give.unavailable {
    opacity: 0.4;
}

.build_card, .extra_card, .failed_card {
    float:left;
    width:35px;
}
.build_card_list, .extra_card_list {
    float:left;
}
.build_hidden {
    display:none;
}
.extra_card_list {
    margin-left:65px;
}
.build_give:hover, .extra_card_list:hover {
    cursor: pointer;
}
.set_large_image_width{
    width: 180px;
}
.cardRules{
    font-size: 80%;
    color: darkgreen;
    float:right;
    cursor: pointer;
}

.dev_rules {
    border-radius:8px;
    cursor: pointer;
    cursor: hand;
}

.vp_rules {
    border-radius:8px;
    cursor: pointer;
    cursor: hand;
}

.trade_row_devs > .build_card {
    width: 75px;
    height: 111px;
    margin-right:-60px !important;
}
.trade_picked {
    width: 100px;
}
.build_card.last {
    margin-right:5px !important;
}

.trade_give_box, .trade_receive_box, .year_box_card, .monopoly_card, .devcard_card {
    float:left;
    margin:10px;
    height:115px;
    width:80px;
}
.trade_give_box, .trade_receive_box, .year_box_card, .monopoly_card, .devcard_card {
    border: thin solid black;
}
.trade_merge {
    float:left;
    width:80px;
    padding-top:25px;
}
.trade_arrow, .year_plus {
    float:left;
    width:50px;
    padding-top:45px;
}
.trade_accept, .year_accept {
    float:left;
    width:50px;
    padding-top:50px;
    padding-left:10px;
}
.trade_accept {
  padding-top: 34px;
}
.trade_accept .btn {
  margin-bottom: 6px;
}

.year_accept{
    padding-top:20px;
}
.monopoly_accept, .devcard_accept {
    float:left;
    padding-top:25px;
}

.dice_row {
    clear: both;
    height:110px;
}
.dice_window {
    float: left;
    padding:10px;
    width: 84px;
    height: 84px;
    overflow: hidden;
}
.dice2 {
    position: relative;
    left:-89px;
}
.dice3 {
    position: relative;
    left:-194px;
}
.dice4 {
    position: relative;
    left:-300px;
}
.dice5 {
    position: relative;
    left:-405px;
}
.dice6 {
    position: relative;
    left:-511px;
}

.monopoly_button, .devcard_button, .year_of_plenty_button {
    width:150px;
    margin:10px;
}

.trading_grid {
    clear:both;
    width:100%;
    height:200px;
}

.trader_box {
    float:left;
    width:30%;
    margin:1%;
    border-right: thin solid green;
}
.trader_icon {
    float:left;
}
.trade_count {
    position: relative;
    top: -70px;
    background-color: white;
    width:30px;
    height: 30px;
    margin-left:auto;
    margin-right:auto;
    border-radius: 15px;
    padding-top:5px;
}
.tradining_togive, .tradining_toget {
    float:left;
    width:45%;
    height:100px;
    margin:1%;
}

.trading_offer_box {
    position:relative;
    float:right;
    width:42%;
    margin: 2%;
    margin-top: 0px;
}

.trade_want, .trade_give, .trade_other_want, .trade_other_give {
    position:relative;
    height:125px;
    width:93%;
    border: thin solid green;
}
.trader_box_right {
    float:right;
    text-align: right;
}
.trading_card {
    position: absolute;
}
.trading_card_1 {
    left:15px;
    z-index:1;
}
.trading_card_2 {
    left:30px;
    z-index:2;
}
.trading_card_3 {
    left:45px;
    z-index:3;
}
.trade-info {
    position: absolute;
    z-index: 200;
    color: white;
    background-color: rgba(0, 0, 0,0.6);
    padding: 2px;
    margin: 88px 0 0 2px;
    width:65px;
}

.fail_row {
    clear: both;
    width:90%;
    height:120px;
}
.fail_object {
    float: left;
    width:130px;
    padding-top:30px;
}
.fail_cards {
    float: left;
}

.monopoly_player_box {
    clear: both;
    width:95%;
    height: 160px;
    margin:20px;
    overflow:hidden;
}
.monopoly_row {
    float:left;
    margin: 5px 10px;
    height: 140px;
    width:300px;
}
.monopoly_avatar {
    float: left;
    width:150px;
}

.road_cell {
    float: left;
    margin-right:10px;
}
.road_building.disabled {
    opacity: 0.4;
}

.knight_resource_options {
  display: flex;
  justify-content: space-around;
  margin: 3em 0;
}

.knight_resource_options .play_knight {
  cursor: pointer;
  border-radius: 8px;
}

.play_knight_cancel {
  float: right;
}

.done_prompt, .trade_prompt {
    position: fixed;
    float: right;
    top:40px;
    right:160px;
    width:250px;
    height:80px;
    border:thin solid black;
    background-color:white;
    border-radius: 10px;
    z-index:99995;
    padding:10px;
    display:none;
}
.trade_prompt {
    top:310px;
    right:140px;
    width:170px;
    text-align: center;
    height:auto;

}

.done_text {
    float:left;
    width:70%;
}
.done_arrow {
    float:right;
    padding:10px;
}

.timer_box {
    height: 8px;
    width: 100%;
}
#timer_inner {
    height: 8px;
    background-color: green;
    width: 0%;
}
/*
.timer_animate{
    -webkit-transition: width 60s; /* Safari
    transition: width 60s;
    width: 100%;
}*/
#timer_inner.timer_animate {
  -webkit-transition: 60s linear;
  -moz-transition: 60s linear;
  -ms-transition: 60s linear;
  -o-transition: 60s linear;
  transition: 60s linear;
  width: 100% !important;
}
#timer_inner.timer_animate_monopoly {
  -webkit-transition: 30s linear;
  -moz-transition: 30s linear;
  -ms-transition: 30s linear;
  -o-transition: 30s linear;
  transition: 30s linear;
  width: 100% !important;
}

.trade_help_title {
    line-height: 30px;
    font-size:24px;
    font-weight:bold;
}
.trade_row {
    width:100%;
    overflow: hidden;;
    height:140px;
}
.trade_help_text {
    float:left;
    width:25%;
    font-size:14px;
}
.trade_help_image {
    float:left;
    width:25%;
    margin-left:10px;
    padding:0px 20px;
}

.player_waiting_row {
    clear:both;
    height:60px;
    overflow: hidden;
    width:90%;
    margin-bottom:10px;
}
.player_waiting_icon {
    float:left;
    width: 90px;
}
.player_waiting_name {
    float:left;
    padding-top:20px;
}

.player0_bubble, .player1_bubble, .player2_bubble, .player3_bubble {
	position: absolute;
    width: 260px;
    left:110px;
	padding: 10px;
	text-align: center;
	font-weight: bold;
    z-index:9996;
    border-radius: .4em;
    background-color: white;
    display:none;
}
.player0_bubble {
    border: thick solid #7168CA;
}
.player1_bubble {
    border: thick solid #AB0F12;
}
.player2_bubble {
    border: thick solid #0C1BC3;
}
.player3_bubble {
    border: thick solid #0A9D08;
}

.player0_bubble:after, .player1_bubble:after, .player2_bubble:after, .player3_bubble:after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 28px solid transparent;
	border-left: 0;
	border-top: 0;
	margin-top: -14px;
	margin-left: -28px;
    border-right-color: white;
}

.trade_bubble_message {
    padding:5px;
}
.trade_bubble_row {
    clear:both;
    height:30px;
    margin-left:20px;
}
.trade_bubble_button {
    float:left;
    padding:5px;
}

.give_hidden, .want_hidden, .give_cards, .want_cards {
    display:none;
}
.trade_card_float {
    float:left;
}
.player_detail_cards{
    position: relative;
    float: left;
    max-width:30%;
    height: 78px;
    overflow: hidden;
}
.player_detail_vp_cards{
    position: relative;
    float: left;
    max-width:5%;
    height: 78px;
}
.featured_dev_card{
    float: left;
    width: 30%;
}
.dev_card_rules{
    display: inline;
    width:60%;
    margin: 20px;
}
.inline_cards{
    display: inline;
    margin-left: 10px;
}
@media screen and (min-height: 770px){
    .score .resources {
        height:205px !important;
    }
}
@media screen and (max-height: 769px){
    .score {
        position:fixed;
        float: right;
        display:inline-block;
        top:0;
        right:0px;
        height:1024px;
        width:232px;
        z-index:90000;
        border: thick inset black;
        background-color: silver;
        backface-visibility: hidden;
        transform-style: preserve3d;
        transition: transform .4s;
    }
    .player img{
        width: 80%;
    }
    .box {
        display:inline-block;
        width:45%;
        height:39px;
        border:thin solid black;
        padding:5px 5px 0px 0px;
        background:white;
        background-size: contain;
        background-position: 15px;
        font-size:26px !important;
    }
    .resources{
        height: 170px !important;
    }
    .btn-control-maximize{
        right: -10px !important;
        top: -10px !important;
    }
}
