<div class="btn btn-info btn-large btn-right play_knight_cancel">Cancel</div>
<div id="knight_options">
  <h1>Play knight</h1>
  <p>Select a resource for you knight to rob.</p>

  <div class="knight_resource_options">
    <img src="images/card_brick_small.jpg" alt="" class="play_knight" data-resource="brick">
    <img src="images/card_grain_small.jpg" alt="" class="play_knight" data-resource="grain">
    <img src="images/card_lumber_small.jpg" alt="" class="play_knight" data-resource="lumber">
    <img src="images/card_ore_small.jpg" alt="" class="play_knight" data-resource="ore">
    <img src="images/card_sheep_small.jpg" alt="" class="play_knight" data-resource="sheep">
  </div>
</div>
