<div class="end_row">
    <div class="player_row">
        <div class="player_icon"><img src="images/player{player_id}.png" /></div>
        <div class="player_name">
            {player_name}<br>
            <span class="player_score">{player_score} Victory Points!</span>
        </div>
    </div>
</div>

<div class="player_detail">
    <div class="player_row" style="height:75px;">{settlements}</div>
    <div class="player_row" style="height:75px;">{cities}</div>
    <div class="player_row" style="height:125px;">{cards}</div>
</div>

<br />
<div class="player_row">
    <div class="btn btn-info btn-large" onclick="hidePopup();">Close Popup</div>
</div>