<div class="end_row">
    <div class="player_row">
        <div class="player_icon"><img src="images/player0.png" /></div>
        <div class="player_name">
            Jim the Giant<br>
            <span class="player_score">7 Victory Points!</span>
        </div>
    </div>
</div>

<div class="player_detail">
    <div class="player_row">
        <div class="player_score_detail"><img src="images/house_purple_small.png" /></div>
        <div class="player_score_detail"><img src="images/house_purple_small.png" /></div>
        <div class="player_score_detail"><img src="images/house_purple_small.png" /></div>
        <div class="player_score_detail disabled"><img src="images/house_purple_small.png" /></div>
        <div class="player_score_detail disabled"><img src="images/house_purple_small.png" /></div>
    </div>
    <div class="player_row">
        <div class="player_score_detail"><img src="images/city_purple_small.png" /></div>
        <div class="player_score_detail disabled"><img src="images/city_purple_small.png" /></div>
        <div class="player_score_detail disabled"><img src="images/city_purple_small.png" /></div>
        <div class="player_score_detail disabled"><img src="images/city_purple_small.png" /></div>
    </div>
    <div class="player_row">
        <div class="player_score_token"><img src="images/score_token_2.png" width="50" /></div>
        <div class="player_score_token disabled"><img src="images/score_token_3.png" width="50" /></div>
    </div>
    <div class="player_row">
        <div class="player_score_token"><img src="images/dev_knight_small.png" width="50" /></div>
        <div class="player_score_token"><img src="images/dev_knight_small.png" width="50" /></div>
    </div>
</div>
