<div class="popup_title">Development Card Information</div>
<div class="popup_subtitle">Learn how to use your development cards.</div>


<div class="trade_title">
        Development Card:<br />
    </div>
    <p>{dev_card_rules}</p>
    <div class="trade_row" style="height:140px;">{dev_card}</div>

<div class="build_title">Cards available in the game:</div>
    <div class="trade_row trade_row_devs">{other_dev_cards}</div>
<div>
    <div class="btn btn-info btn-large" onclick="$('.popup').hide();">Continue</div>
</div>