<div class="popup_title">Development Cards</div>
<div class="popup_subtitle">You can use one of the following cards during this round</div>

<br />
<div class="trade_title">
    Your Development Cards:
</div>
<div class="trade_row">
    <div class="devcard_receive" data-resource="brick">
        <img class="train_brick" src="../Images/dev_knight_small.png">
    </div>
    <div class="devcard_receive" data-resource="grain">
        <img class="train_brick" src="../Images/dev_knight_small.png">
    </div>
    <div class="devcard_receive" data-resource="sheep">
        <img class="trade_sheep" src="../Images/dev_mono_small.png">
    </div>
    <div class="devcard_receive" data-resource="ore">
        <img class="trade_ore" src="../Images/dev_year_small.png">
    </div>
    <div class="devcard_receive" data-resource="lumber">
        <img class="trade_lumber" src="../Images/dev_road_small.png">
    </div>
</div>

<br />
<div class="devcard_review_row">
    <div class="devcard_card"></div>
    <div class="devcard_accept">
        <div class="btn btn-info devcard_button">Use Card</div><br />
        <div class="btn btn-info devcard_button" onclick="hidePopup();">Nevermind</div>
    </div>
</div>
