<div class="popup_title">Year of Plenty</div>
<div class="popup_subtitle">It was a good year, a VERY good year.  Select 2 resources to add to your current resources.</div>

<br />
<div class="trade_title">
    Select two resources to receive:
</div>
<div class="trade_row">
    <div class="year_receive" data-resource="brick">
        <img class="train_brick" src="images/card_brick_small.png">
    </div>
    <div class="year_receive" data-resource="grain">
        <img class="trade_grain" src="images/card_grain_small.png">
    </div>
    <div class="year_receive" data-resource="sheep">
        <img class="trade_sheep" src="images/card_sheep_small.png">
    </div>
    <div class="year_receive" data-resource="ore">
        <img class="trade_ore" src="images/card_ore_small.png">
    </div>
    <div class="year_receive" data-resource="lumber">
        <img class="trade_lumber" src="images/card_lumber_small.png">
    </div>
</div>

<br />
<div class="year_review_row">
    <div class="year_box_card year_box_card1"></div>
    <div class="year_plus"><i class="fa fa-plus fa-3x"></i></div>
    <div class="year_box_card year_box_card2"></div>
    <div class="year_accept"><div class="btn btn-info year_of_plenty_button">Collect Resources</div><div class="btn btn-info year_of_plenty_button">Save for Later</div></div>
</div>
