<div id="monopoly-played" class="popup_title">Monopoly Has Been Played by {monopoly_player_name}</div>
<div class="popup_subtitle">They stole the following resources from you!</div>

<div class="monopoly_player_box">
    <div class="monopoly_avatar"><img src="../images/player{player_id}.png" /></div>
    <div class="monopoly_row">
        <div class="build_card_list">{stolen_cards}</div>
    </div>
</div>
<div>
    <div id="continue-round" class="btn btn-info btn-large btn-right" onclick="hidePopup();">Continue Round</div>
</div>
