<div id="setup-phase-building" style="display:{setup_round_display};">
    <div class="popup_title">Setup Phase Building</div>
    
    <div class="build_row" style="height:auto; margin:15px 0px;">
        During the <b>Setup Phase</b> of the game, you can place a single settlement and road during your turn.  Simply drag and drop 
        each onto any valid building spot as show by the ghost images.
    </div>

    <div style="margin: 0px 0px 15px 100px;"><img src="images/setup_help.png" /></div>
</div>

<div class="building_card_cont" style="display:{normal_round_display};">
    <div style="display:{settlement_display};">
        <div class="popup_title">Building a Settlement</div>

        To build a settlement, you need 1 Brick, 1 Lumber, 1 Grain and 1 Sheep.<br><br>
        <div style="clear:both; margin:5px; height:80px;">
            <div style="float:left; padding:5px;"><img src="images/card_brick_tiny.jpg" /></div>
            <div style="float:left; padding:5px;"><img src="images/card_lumber_tiny.jpg" /></div>
            <div style="float:left; padding:5px;"><img src="images/card_grain_tiny.jpg" /></div>
            <div style="float:left; padding:5px;"><img src="images/card_sheep_tiny.jpg" /></div>
        </div>
        You can only build a settlement on an intersection that is connected by one of your roads.  That intersection must be at least 1 full intersection away from any other building.  The ghost images in the example below are valid spots for player red to build a settlement: <br><br>
        <div style="clear:both; margin:5px;">
            <div style="padding:5px;"><img src="images/help_settlement_example.jpg" height="250" /></div>
        </div>
    </div>
    <div style="display:{road_display};">
        <div class="popup_title">Building a Road</div>
        
        To build a road, you need 1 Brick and 1 Lumber.<br><br>
        <div style="clear:both; margin:5px; height:80px;">
            <div style="float:left; padding:5px;"><img src="images/card_brick_tiny.jpg" /></div>
            <div style="float:left; padding:5px;"><img src="images/card_lumber_tiny.jpg" /></div>
        </div>
        To place the road on the board, you need to connect it to another road, settlement or city that is owned by you.  The ghost images in the example below are valid spots for player red to build a road: <br><br>
        <div style="clear:both; margin:5px;">
            <div style="padding:5px;"><img src="images/help_road_example.jpg" /></div>
        </div>
    </div>
    <div style="display:{city_display};">
        <div class="popup_title">Building a City</div>

        To build a city, you need 2 Grain and 3 Ore.<br><br>
        <div style="clear:both; margin:5px; height:80px;">
            <div style="float:left; padding:5px;"><img src="images/card_grain_tiny.jpg" /></div>
            <div style="float:left; padding:5px;"><img src="images/card_grain_tiny.jpg" /></div>
            <div style="float:left; padding:5px;"><img src="images/card_ore_tiny.jpg" /></div>
            <div style="float:left; padding:5px;"><img src="images/card_ore_tiny.jpg" /></div>
            <div style="float:left; padding:5px;"><img src="images/card_ore_tiny.jpg" /></div>
        </div>
        A city can only be built if you have a settlement already on the board.  The example below shows purple with 2 settlements that can be upgraded to a city: <br><br>
        <div style="clear:both; margin:5px;">
            <div style="padding:5px;"><img src="images/help_city_example.png" /></div>
        </div>
    </div>
</div>

<div style="text-align: center;">
    <div id="ok-thanks" class="btn btn-info btn-lg" onclick="hidePopup();">Ok, Thanks!</div>
</div>
