<div id="catan-marketplace" class="popup_title">Catan Marketplace</div>
<div class="popup_subtitle">Let the trading begin!</div>

<br />
<div class="trade_title">
My Resources:
</div>
<br />
Give:
<div class="trade_row">
    {select_cards}
    <div class="trading_offer_box" id='tgb'>
            <div class="trade_give">
            </div>
    </div>
</div>
Want:
<div class="trade_row">
    <div class="trade_card_want" data-resource="brick">
        <img class="trade_brick" src="images/card_brick_small.jpg"><br />
    </div>
    <div class="trade_card_want" data-resource="grain">
        <img class="trade_brick" src="images/card_grain_small.jpg"><br />
    </div>
    <div class="trade_card_want" data-resource="sheep">
        <img class="trade_brick" src="images/card_sheep_small.jpg"><br />
    </div>
    <div class="trade_card_want" data-resource="ore">
        <img class="trade_brick" src="images/card_ore_small.jpg"><br />
    </div>
    <div class="trade_card_want" data-resource="lumber">
        <img class="trade_brick" src="images/card_lumber_small.jpg"><br />
    </div>
    <div class="trading_offer_box" id='trb'>
            <div class="trade_want">
            </div>
    </div>
</div>
<div id="accept-trade" class="btn btn-info btn-right" onclick='initInterTrade()'>Accept Trade</div>
<div id="cancel-trade" class="btn btn-info btn-right" onclick="hidePopup()">Cancel Trade</div>
