<div class="popup_title">Monopoly</div>
<div class="popup_subtitle">The power is yours, the market is yours.  Choose whether to use that power now or later.</div>

<br />
<div class="trade_title">
    Select the resource to collect from all players:
</div>
<div class="trade_row">
    <div class="monopoly_receive" data-resource="brick">
        <img class="trade_brick" src="images/card_brick_small.png">
    </div>
    <div class="monopoly_receive" data-resource="grain">
        <img class="trade_grain" src="images/card_grain_small.png">
    </div>
    <div class="monopoly_receive" data-resource="sheep">
        <img class="trade_sheep" src="images/card_sheep_small.png">
    </div>
    <div class="monopoly_receive" data-resource="ore">
        <img class="trade_ore" src="images/card_ore_small.png">
    </div>
    <div class="monopoly_receive" data-resource="lumber">
        <img class="trade_lumber" src="images/card_lumber_small.png">
    </div>
</div>
        
<br />
<div class="monopoly_review_row">
    <div class="monopoly_card"></div>
    <div class="monopoly_accept">
        <div class="btn btn-info monopoly_button">Collect Resources</div><br />
        <div class="btn btn-info monopoly_button">Save for Later</div>
    </div>
</div>
