<div id="setup-phase-building" style="display:{setup_round_display};">
    <div class="popup_title">Setup Phase Building</div>
    
    <div class="build_row" style="height:auto; margin:15px 0px;">
        During the <b>Setup Phase</b> of the game, you can place a single settlement and road during your turn.  Simply drag and drop 
        each onto any valid building spot as show by the ghost images.
    </div>

    <div style="margin: 0px 0px 15px 100px;"><img src="images/setup_help.png" /></div>
</div>

<div style="display:{normal_round_display};">
    <div style="margin-left: 80px;"><img src="images/building_info.png" /></div>
</div>

<div style="text-align: center;">
    <div id="ok-thanks" class="btn btn-info btn-lg" onclick="hidePopup();">Ok, Thanks!</div>
</div>
