<div class="popup_title">Catan Marketplace</div>
<div class="popup_subtitle">Let the trading begin!</div>

<br />

<div class="trading_grid">
    <div class="trader_row">
        <div class="trader_box trader_box_top">
            <img src="../Images/player0.png">
        </div>
    </div>
    <div class="trader_row">
        <div class="trader_box trader_box_left">
            <img src="../Images/player1.png">
        </div>
        <div class="trader_box trader_box_right">
            <img src="../Images/player2.png">
        </div>
    </div>
    <div class="trader_row">
        <div class="trader_box trader_box_bottom">
            <img src="../Images/player3.png">
        </div>
    </div>
</div>

