<div class="popup_title">Catan Marketplace</div>
<div class="popup_subtitle">Let the trading begin! Simply click one of your resources to begin.</div>


<div class="trade_title">
    My Resources:
</div>
<div class="trade_row" style="height:140px;">
    <div class="card_give" data-resource="brick">
        <img class="trade_brick unavailable" src="images/card_brick_small.png">
        <br />
        x 0        
    </div>
    <div class="card_give" data-resource="grain">
        <img class="trade_grain" src="images/card_grain_small.png">
        <br />
        x 3        
    </div>
    <div class="card_give" data-resource="sheep">
        <img class="trade_sheep" src="images/card_sheep_small.png">
        <br />
        x 3        
    </div>
    <div class="card_give" data-resource="ore">
        <img class="trade_ore" src="images/card_ore_small.png">
        <br />
        x 3        
    </div>
    <div class="card_give" data-resource="lumber">
        <img class="trade_lumber" src="images/card_lumber_small.png">
        <br />
        x 3        
    </div>

</div>

<div class="trade_review_row">
    <div class="trade_merge"><img src="images/merge.png"></div>
    <div class="trade_give_box" id='tgb'></div>
    <div class="trade_arrow"><i class="fa fa-arrow-right fa-3x"></i></div>
    <div class="trade_receive_box" id='trb'></div>
    <div class="trade_accept"><div class="btn btn-info" onclick='acceptTrade()'>Accept Trade</div></div>
</div>
    

<div class="trade_title">
    Select a resource to receive:
</div>
<div class="trade_row">
    <div class="card_receive" data-resource="brick">
        <img class="train_brick" src="images/card_brick_small.png">
    </div>
    <div class="card_receive" data-resource="grain">
        <img class="trade_grain" src="images/card_grain_small.png">
    </div>
    <div class="card_receive" data-resource="sheep">
        <img class="trade_sheep" src="images/card_sheep_small.png">
    </div>
    <div class="card_receive" data-resource="ore">
        <img class="trade_ore" src="images/card_ore_small.png">
    </div>
    <div class="card_receive" data-resource="lumber">
        <img class="trade_lumber" src="images/card_lumber_small.png">
    </div>
</div>
    