<div class="popup_title">Monopoly Has Been Played by {monopoly_player_name}</div>
<div class="popup_subtitle">They stole the following resources from you!</div>

<div class="monopoly_player_box">
    <div class="monopoly_avatar"><img src="../images/player{player_id}.png" /></div>
    <div class="build_row" style="height:140px;">
        <div class="build_card_list">{stolen_cards}</div>
    </div>
</div>

<div>
    <div class="btn btn-info btn-large" onclick="build_popup_round_roll_results()">Continue Round</div>
</div>