<div class="popup_title">Building Manager</div>
<div class="popup_subtitle">Choose whether to include extra resources for your build</div>

<div class="build_title">
    Resources for {object_type}:
</div>
<div class="build_row" style="height:140px;">
    <div class="build_card_list">{build_cards}</div>
    <div class="extra_card_list"></div>
</div>

<div class="build_title">Optional Resources</div>
<div class="build_subtitle">
    Click on any resources your would like to add.  This improves your chances of winning
    in case other players are trying to build on this same spot this round
</div>
<div class="build_row select_card_list">{select_cards}</div>

<div class="build_hidden">{select_cards}</div>

<div>
    <div class="btn btn-info btn-large" onclick="round_build_complete('{object_dragged_id}','{object_type}');">Build {object_type}</div>
    <div class="btn btn-info btn-large" onclick="round_build_abort('{object_dragged_id}','{object_type}');">Nevermind</div>
</div>

