<div id="catan-marketplace" class="popup_title">Catan Marketplace</div>
<div class="popup_subtitle">Rules of the marketplace.</div>

<div>
    <div class="trade_help_title">4 to 1</div>
    <div class="trade_row" style="height:35px;">
        <div class="trade_help_text" style="width:90%;">All players have the ability to trade any four (4) of the same resource for another resource of their choosing.</div>
    </div>

    <div class="trade_help_title">3 to 1</div>
    <div class="trade_row">
        <div class="trade_help_text">Players who have built on any intersection of a 3:1 harbor can trade any three (3) of the same resource for another resource of their choosing.</div>
        <div class="trade_help_image"><img src="images/help_trade_3to1.jpg" /></div>
        <div class="trade_help_text"><br>In this example, you can build at either A or B to receive the 3 to 1 bonus.</div>
    </div>

    <div class="trade_help_title">2 to 1</div>
    <div class="trade_row">
        <div class="trade_help_text">Players who have built on any intersection of a 2:1 harbor can trade any two (2) of that specific resource for another resource of their choosing.</div>
        <div class="trade_help_image"><img src="images/help_trade_2to1.jpg" /></div>
        <div class="trade_help_text"><br>In this example, you can build at either A or B to receive the 2 to 1 bonus for Grain.</div>
    </div>
    
</div>


<div>
    <div class="btn btn-info btn-large btn-right" onclick="hidePopup();">Continue</div>
</div>
