<div id="monopoly-spoils" class="popup_title">Monopoly Spoils</div>
<div class="popup_subtitle">You stole the following resources:</div>

<div class="monopoly_player_box" style="display:{player_0_display};">
    <div class="monopoly_avatar"><img src="../images/player0.png" /></div>
    <div class="monopoly_title" >{player_0_name}</div>
    <div class="monopoly_row" style="height:140px;">
        <div class="monopoly_card_list">{stolen_cards_player_0}</div>
    </div>
</div>

<div class="monopoly_player_box" style="display:{player_1_display};">
    <div class="monopoly_avatar"><img src="../images/player1.png" /></div>
    <div class="monopoly_title" >{player_1_name}</div>
    <div class="monopoly_row" style="height:140px;">
        <div class="monopoly_card_list">{stolen_cards_player_1}</div>
    </div>
</div>

<div class="monopoly_player_box" style="display:{player_2_display};">
    <div class="monopoly_avatar"><img src="../images/player2.png" /></div>
    <div class="monopoly_title" >{player_2_name}</div>
    <div class="monopoly_row" style="height:140px;">
        <div class="monopoly_card_list">{stolen_cards_player_2}</div>
    </div>
</div>

<div class="monopoly_player_box" style="display:{player_3_display};">
    <div class="monopoly_avatar"><img src="../images/player3.png" /></div>
    <div class="monopoly_title" >{player_3_name}</div>
    <div class="monopoly_row" style="height:140px;">
        <div class="monopoly_card_list">{stolen_cards_player_3}</div>
    </div>
</div>
<div>
    <div id="continue-round" class="btn btn-info btn-large btn-right" onclick="hidePopup();">Continue Round</div>
</div>
