<div class="action_in_progress"></div>

<h1>Place your settlement and road.</h1>

<p class="waiting_text">You can now place a single settlement with an adjacent road.</p>
<p class="waiting_text">Simply drag 1 settlement and 1 road to any valid building spot as show by the ghost images.</p>

<div style="margin: 15px 0px 15px 100px;"><img src="images/setup_help.png" /></div>

<div style="text-align: center;">
    <div id="get_started" class="btn btn-info btn-lg" onclick="hidePopup();">Get Started</div>
</div>
    
