<div class="title">
	<img src="images/catan_logo.png" />
</div>
<div class="subtitle"> 159.356 Capstone Project</div>

<div class="menu start_subsection">
    <div id="play" class="btn btn-info start_button js-start-toggle" data-target="players" style="width:540px; padding-top:20px;">
	    <i class="fa fa-gamepad fa-2x"></i>
	    <br />
	    <span class="start_text">Play</span>
    </div>
    <div class="btn btn-info start_button js-start-toggle" data-target="intro" style="width:540px; padding-top:20px;">
	    <i class="fa fa-paper-plane fa-2x"></i>
	    <br />
	    <span class="start_text">Tutorial</span>
    </div>
</div>
