<h1>How to Play</h1>
<p>The is a modified version of Settlers of Catan. This project required us the change the gameplay so that the turns occur in parallel. For the most part the standard rules of Catan apply where the rules differ are as below:</p>
<h3>Building Roads and Building</h3>
<p>As we're running in parallel it's possible for two (or more) to build in the same spot on the same turn - or build on adjacent nodes. To resolve this we've adjusted the rules so that you can offer extra resources for you build, then in the event the another player attempts to build in the same spot as you in the same turn the player with the highest bid will get their building constructed. In the event of a tie, neither building will be constructed.</p>
<h3>Dev Cards</h3>
<h4>Knight</h4>
<a href="" class="js-start-toggle" data-target="menu">Back</a>
