<div class="rules_inner">
  <h1>How to Play</h1>
  <p>The is a modified version of Settlers of Catan. This project required us the change the gameplay so that the turns occur
    in parallel. For the most part the standard rules of Catan apply where the rules differ are as below:</p>

  <h3>Building Roads and Building</h3>
  <p>As we're running in parallel it's possible for two (or more) to build in the same spot on the same turn - or build on adjacent
    nodes. To resolve this we've adjusted the rules so that you can offer extra resources for your build, then in the event
    the another player attempts to build in the same spot as you in the same turn the player with the highest bid will get
    their building constructed. In the event of a tie, neither building will be constructed.</p>

  <h3>Robber</h3>
  <p>As no single player can roll the robber the placement of the robber is determined randomly. Also since no ssingle player
    has rolled the robber the robber steals a single resource from all players. Unless you have more than seven resource cards
    when the robber will steal half your cards.</p>

  <h3>Dev Cards</h3>
  <p>For the most part development cards behave the same as in the physical game. Where the behaviour differs is as follows:</p>
  <h4>Knight</h4>
  <p>Only one player can play the knight per turn, first player to do so disables the knight card for all other players. The knight
    will be moved to a random location the following turn and the player that plays the knight can select an extra resource
    to receive.</p>
  <h4>Monopoly</h4>
  <p>In this version, monopoly needs to be played after the round starts but before other players can start using their cards.
    To this end, the players who do not have the monopoly card keep seeing the "waiting for other players to finish" window.
    The player who has the card, can see the next rounds dice roll window and gets prompted whether they want to use the monopoly
    card.
  </p>
</div>

<a href="" class="js-start-toggle" data-target="menu">Back</a>
