<div class="title"><img src="images/catan_logo.png" /></div>
<div class="subtitle"> 159.356 Capstone Project</div>

<h1>Enter your name:</h1>
<div class="player_row">
    <div class="player_title">Name</div>
    <div class="player_input"><input type="text" id="txt_player1" value="" /></div>
</div>
<div class="player_error"></div>
<div class="player_row">
    <div class="btn btn-info player_button js-start-game"><i class="fa fa-gamepad fa-2x"></i>&nbsp;<span class="player_text">Start Game</span></div>
</div>
<br>
<br>
<div class="player_row">
    <a href="" class="js-start-toggle" data-target="menu">Back</a>
</div>
