<div class="popup_title">Hooray!  You have received a Victory Point</div>
<div class="popup_subtitle">We'll add that to your pile, and your score.</div>


<div class="trade_title">
        Victory point received:<br />
    </div>
    <p>In the development card pack, there are 5 victory points and you've just found one..</p>
    <div class="trade_row" style="height:140px;">{vp_card}</div>
    
<div class="build_title">Cards already in your hand:</div>
    <div class="trade_row">{other_vp_cards}</div>
<div>
    <div class="btn btn-info btn-large" onclick="hidePopup();">Continue</div>
</div>