<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Settlers of Massey</title>

    <link href="css/catan.css" rel="stylesheet" />
    <link href="css/3rdparty.css" rel="stylesheet" />
    <link href="css/jquery-ui.css" rel="stylesheet" />

    <script src="js/jquery.min.js"></script>
    <script src="js/jquery-ui.js"></script>
    <script src="js/dragdrop.js"></script>
    <script src="/socket.io/socket.io.js"></script>
</head>

<body>

    <div class="test"></div>
        
    <div class="popup">
        <div class="popup_inner"></div>
    </div>

    <div class="start">
        <div class="start_inner">
            <div class="title"><img src="images/catan_logo.png" /></div>
            <div class="subtitle"> 159.356 Capstone Project</div>

            <div class="menu start_subsection">
                <div class="btn btn-info start_button js-start-toggle" data-target="players" style="width:540px; padding-top:20px;"><i class="fa fa-gamepad fa-2x"></i><br /><span class="start_text">Play</span></div>
                <div class="btn btn-info start_button js-start-toggle" data-target="intro" style="width:235px; padding-top:20px;"><i class="fa fa-paper-plane fa-2x"></i><br /><span class="start_text">Tutorial</span></div>
                <div class="btn btn-info start_button js-start-toggle" data-target="settings" style="width:235px; padding-top:20px;"><i class="fa fa-cogs fa-2x"></i><br /><span class="start_text">Settings</span></div>
            </div>
            <div class="players start_subsection hide">
                <h1>Enter your name:</h1>
                <div class="player_row">
                    <div class="player_title">Name</div>
                    <div class="player_input"><input type="text" id="txt_player1" value="" /></div>
                </div>
                <div class="player_error"></div>
                <div class="player_row">
                    <div class="btn btn-info player_button js-start-game"><i class="fa fa-gamepad fa-2x"></i>&nbsp;<span class="player_text">Start Game</span></div>
                </div>
                <br>
                <br>
                <div class="player_row">
                    <a href="" class="js-start-toggle" data-target="menu">Back</a>
                </div>
            </div>
            <div class="waiting start_subsection hide">
                <h1>Game matching in progress...</h1>
                <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
                <p class="waiting_text">Waiting for more players: <span class="count"></span> of <span class="total"></span></p>
            </div>
            <div class="intro start_subsection hide">
                <h1>Tutorial!</h1>
                <a href="" class="js-start-toggle" data-target="menu">Back</a>
            </div>

            <div class="players waiting_for_turn waiting hide">
                <h1>Please wait...</h1>
                <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
                <p class="waiting_text">Other players are placing their settlements.</p>
                <div class="player_row place_button hide">
                    <div id="placeSettlement" class="btn btn-info player_button place_settlement"><span class="player_text">Place your Settlement</span></div>
                </div>
            </div>

            <div class="settings start_subsection hide">
                <h1>Settings!</h1>
                <a href="" class="js-start-toggle" data-target="menu">Back</a>
            </div>
        </div>
    </div>

    <div class="board" style="top:30px; left:30px;"></div>

    <div class="score">


    </div>

    <script src="js/game/game.js"></script>
    <script src="js/game/player.js"></script>
    <script src="js/game/client.js"></script>
    
</body>
</html>