<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Settlers of Massey</title>

  <link href="css/catan.css" rel="stylesheet" />
  <link href="css/3rdparty.css" rel="stylesheet" />
  <link href="css/jquery-ui.css" rel="stylesheet" />

  <script src="js/jquery.min.js"></script>
  <script src="js/jquery-ui.js"></script>
  <script src="js/dragdrop.js"></script>
  <script src="js/jquery.ui.touch-punch.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="data_api/data_package.js"></script>
  <script src="data_api/action.js"></script>
  <script src="data_api/board.js"></script>
  <script src="data_api/cards.js"></script>
</head>

<body class="noselect" style="background-color:darkslategrey;">

  <div class="log"></div>

  <div class="tip_prompt">
    <div class="tip_arrow_left"><i class="fa fa-arrow-left fa-3x"></i></div>
    <div class="tip_text"></div>
    <div class="tip_arrow_right"><i class="fa fa-arrow-right fa-3x"></i></div>
    <div class="tip_hide" onclick='show_tips=false; hide_tip();'>Hide tips</div>
  </div>

  <div class="trade_prompt">
    <div class="trade_button"><div class="btn btn-info tradebank_button" onclick="$('.trade_prompt').hide(); openTrade();" style="width:140px;">Trade with Bank</div></div>
    <div class="trade_button"><div class="btn btn-info tradeplayer_button" onclick="$('.trade_prompt').hide(); openInterTrade();" style="width:140px;">Trade with Player</div></div>
    <div class="trade_button"><div class="btn btn-danger tradecancel_button" onclick="$('.trade_prompt').hide(); cancelTrade();" style="width:140px;">Cancel My Trade</div></div>
    <div class="trade_button"><div class="btn btn-info" onclick="$('.trade_prompt').hide(); buildPopup('round_no_trade', false, false);" style="width:140px;">Trade Help</div></div>
    <div class="trade_button"><div class="btn btn-info" onclick="$('.trade_prompt').hide();" style="width:140px;">Nevermind</div></div>
  </div>

  <div class="popup" style="display: none;">
    <div class="popup_inner"></div>
  </div>

  <div class="other_players"></div>
  
  <div class="board" style="top:30px; left:30px;"></div>
  <div class="robber"></div>
  <div class="score"></div>
  <div class="game_chat small">
    <div class="game_chat_header">Message Center <span class='game_chat_header_subtext'>(click to drag)</span></div>
    <div class="messages"></div>
    <div class="menu">
      <div class="menu_size">
        <div class="menu_title">Chat Window Size:</div>
        <div class="menu_size_choice small selected" onclick="chat_set('size', 'small');"><i class="fa fa-window-restore"></i></div>
        <div class="menu_size_choice medium" onclick="chat_set('size', 'medium');"><i class="fa fa-window-restore fa-2x"></i></div>
        <div class="menu_size_choice large" onclick="chat_set('size', 'large');"><i class="fa fa-window-restore fa-3x"></i></div>
      </div>
      <div class="menu_font">
        <div class="menu_title">Font:</div>
        <div class="menu_font_choice small" onclick="chat_set('font', 'small');"><i class="fa fa-font"></i></div>
        <div class="menu_font_choice medium selected" onclick="chat_set('font', 'medium');"><i class="fa fa-font fa-2x"></i></div>
        <div class="menu_font_choice large" onclick="chat_set('font', 'large');"><i class="fa fa-font fa-3x"></i></div>
      </div>
      <div class="menu_tip" style="height:60px;">
        <div class="menu_title">Tips:</div>
        <div class="menu_tips" onclick="chat_tips();"><i class="fa fa-toggle-on fa-2x"></i> <span class="menu_tip_text">Tips currently on</span></div>
      </div>
      <div class="menu_size">
        <div class="menu_button">
          <div class="btn btn-sm btn-default" style="width:70px;" onclick="chat_reset();">Reset</div>
        </div>
        <div class="menu_button">
            <div class="btn btn-sm btn-default" style="width:70px;" onclick="$('.game_chat .menu').hide();">Close</div>
        </div>
      </div>
    </div>
    <form action="" class="">
      <textarea name="" class="chat_input" placeholder="Send a message..."></textarea>
    </form>
    <button class="chat_menu" onclick="$('.game_chat .menu').show();"><i class="fa fa-gears"></i></button>
  </div>

  <script src="js/game/game.js"></script>
  <script src="js/game/player.js"></script>
  <script src="js/game/client.js"></script>
  <script src="js/game/popups.js"></script>

</body>

</html>
